.home-page {
  width: 100%;
  position: relative;
  background: #fff;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;

  .center {
    max-width: 450px;
    margin: 0 auto;
  }

  .module-title {
    position: relative;
    color: var(--text-4-headline, #272928);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    &:before {
      content: url('/images/title.png');
      position: absolute;
      left: 0;
      top: 0;
      margin-left: -12px;
      margin-top: -4px;
    }
  }

  div[role="tablist"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .module-tabs {
    .tab-titles {
      display: flex;
      align-items: center;
      height: 68px;

      > div {
        transition: font-size 0.1s;
      }

      .tab-title {
        color: var(--text-4-headline, #272928);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
        cursor: pointer;
        margin-left: 20px;
      }

      .module-title {
        cursor: pointer;
      }
    }

    .event-search-bar {
      padding: 0 20px;
    }

    .tag-list {
      padding-left: 20px;
      margin-top: 12px;

      .event-label-list {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .event-label-item {
          white-space: nowrap;
        }
      }
    }

    .tab-contains {
      padding: 12px 20px;
      min-height: 247px;

      .event-card {
        width: auto;
        margin-right: 0;
        margin-bottom: 12px;

        .post {
        }
      }
    }
  }

  .create-event-btn {
    display: flex;
    width: 326px;
    height: 56px;
    padding: 14px 0;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(88.02deg, rgb(186, 255, 173) -2.09%, rgb(161, 244, 230) 62.09%, rgb(128, 248, 192) 97.29%);
    position: fixed;
    z-index: 999;
    bottom: 20px;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-4-headline, #272928);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
  }
}


